services:
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: yashraj    # ✅ Fixed capitalization
      POSTGRES_USER: urlsortner     # ✅ Fixed capitalization
      POSTGRES_DB: postgres
    ports:
      - 5433:5432
    volumes:
      - db_data:/var/lib/postgresql

volumes:
  db_data: